.bubble {
    -fx-background-color: #253238;
    -fx-padding: 10;
    -fx-background-radius: 5;
}

.bubble .label {
    -fx-font-family: Helvetica;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5 0;
}

.bubble .text-area {
    -fx-background-color: #253238;
    -fx-text-fill: #c2cde3;
    -fx-highlight-fill: #877C89;
    -fx-highlight-text-fill: #01B3E3;
    -fx-font-size: 12px;
    -fx-font-family: Consolas;
}

.bubble .text-area .scroll-pane {
    -fx-background-color: transparent;
}

.bubble .text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.bubble .text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.bubble .text-area .scroll-bar:horizontal,
.bubble .text-area .scroll-bar:vertical{
    -fx-background-color:transparent;
}

/* The increment and decrement button CSS class of scrollbar */
.bubble .text-area .increment-button,
.bubble .text-area .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
}

/* The main scrollbar **track** CSS class  */
.bubble .text-area .scroll-bar:horizontal .track,
.bubble .text-area .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.bubble .text-area .scroll-bar:horizontal .thumb,
.bubble .text-area .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#536e7a, 1%);
    -fx-background-insets: 3, 0, 0;
    -fx-background-radius: 2em;
}

.bubble .cancel-button {
    -fx-min-height: 24px;
    -fx-min-width: 24px;
    -fx-background-image: url("../../icons/cancel-icon.png");
    -fx-background-size: 24px 24px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-padding: 3 5 3 5;
}

.bubble .edit-button {
    -fx-min-height: 24px;
    -fx-min-width: 24px;
    -fx-background-image: url("../../icons/edit-icon.png");
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center center;
    -fx-padding: 3 5 3 5;
}

.bubble .extend-button {
    -fx-min-height: 24px;
    -fx-min-width: 24px;
    -fx-background-image: url("../../icons/extend-icon.png");
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center center;
    -fx-padding: 3 5 3 5;
}

.bubble .save-button {
    -fx-min-height: 24px;
    -fx-min-width: 24px;
    -fx-background-image: url("../../icons/save-icon.png");
    -fx-background-size: 24px 24px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-padding: 3 5 3 5;
}

.bubble .cancel-button:hover {
    -fx-background-image: url("../../icons/cancel-icon-hover.png");
}

.bubble .edit-button:hover {
    -fx-background-image: url("../../icons/edit-icon-hover.png");
}

.bubble .extend-button:hover {
    -fx-background-image: url("../../icons/extend-icon-hover.png");
}

.bubble .save-button:hover {
    -fx-background-image: url("../../icons/save-icon-hover.png");
}
